* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.container {
    /* width: 87vw;
    margin: 0 auto;    */
}

.first_section {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    /* min-height: 300px; */
    /* background-color: navajowhite; */
    width: 87vw;
    margin: 0 auto;  
}

.first_section address {    
    display: flex;
    /* justify-content: space-around; */
    /* padding: 20px; */
    width: 35vw;
    align-items: center;
    font-size: 14px;
}

.first_section .logo {
    display: flex;
    padding: 20px;
    width: 38vw;
    justify-content: center;
    object-fit: contain;
}

.first_section .first_button {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 35vw;   
}

.first_section .first_button_text {
    /* font-size: 20px; */
}

.action_button {
    display: flex;
    align-self: center;
    font-size: 16px;
    color: white;
    background-color: ;
    background-color: #2d4b97;
    padding: 2.8%;
    border-radius: 40px;
    padding: 12px 25px;
    cursor: pointer;
}

.menu {
    align-items: center;
    min-height: 90px;
    background-color: #264694;
    display: grid;
}

.menu li {
    text-transform: uppercase;
    font-size: 18px;
    list-style-type: none;
    color: white;
    padding: 20px;
    cursor: pointer;
}

.main {
    min-height: 500px;
    background-color: rgb(86, 154, 175);
    background-image: url(../img/main.jpg);
    background-position: left;
    background-size: cover;
    position: relative;
}

.about {
    width: 50vw;
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;
}

.main .company_name {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.main .more_information_btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px auto;
    margin-top: 100px;
    width: 300px;
    height: 50px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0 , 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    font-size: 35px;  
}


.projects {
    min-height: 900px;
    background-color: rgb(168, 250, 61);
}

.projects .projects_title {
    text-align: center;
    padding: 30px;
}

.projects .first_project {
    height: 150px;
    width: 70vw;
    background-color: rgb(65, 28, 28);
}

.projects .first_vr {
    margin-top: 30px;
    height: 150px;
    width: 100vw;
    background-color: rgb(65, 28, 28);
}

.projects .second_project {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    height: 150px;
    width: 70vw;
    background-color: rgb(65, 28, 28);
}

.projects .second_vr {
    margin-top: 30px;
    height: 150px;
    width: 100vw;
    background-color: rgb(65, 28, 28);
}

.projects .more_information_btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px auto;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0 , 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    font-size: 35px;  
}

.services {
    min-height: 600px;
}

.services .services_title {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: 0 auto;
}

.services .service_first {
    width: 30vw;
    height: 470px;
    background-color: rgb(97, 54, 197);
}

.services .service_second {
    width: 30vw;
    height: 470px;
    background-color: rgb(97, 54, 197);
}

.services .service_third {
    width: 30vw;
    height: 470px;
    background-color: rgb(97, 54, 197);
}